/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Tema */
:root {
  /* Tema */
  --mh: 8vw;

  /* radius */
  --mrad: 1vmin;

  /* gaps */
  --mgap: 8px;
  --lgap: 16px;

  /* font size */
  --tf-size: calc(100% + 0.01vw);
  --mf-size: calc(100% + 1.5vw);
  --lf-size: calc(100% + 3vw);

  /* colors */
  --primary-blue: #2E65E4;
}

/* Componentes */
/* botones */
.rounded-btn {
  display: flex;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  background: white;
  color: black;
  padding: 14px 24px;
  border-radius: var(--mrad);
  border: 1px solid;
  align-content: center;
  align-items: center;
  gap: var(--lgap);

  .feather {
    width: 18px !important;
    height: auto !important;
  }
}
