:root {
  --padding-x: 1em;
  --padding-y: 4em;
  --transparency: 0.6;
  --blur: 16px;
  --invert: 1;
}

nav {
  position: fixed;
  width: 100%;
  height: 84px;
  top: 0;
  left: 0;
  animation: fade-padding ease-in-out both;
  animation-timeline: scroll(root);
  animation-range: 0 172px;
  z-index: 1000;
}

nav .container {
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade ease-in-out both;
  animation-timeline: scroll(root);
  animation-range: 0 172px;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  filter: invert(1);
  width: auto;
  height: 40px;
  animation: fade-img ease-in-out both;
  animation-timeline: scroll(root);
  animation-range: 0 172px;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  animation: fade-a ease-in-out both;
  animation-timeline: scroll(root);
  animation-range: 0 172px;
}

.nav-mobile {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 1rem;
  bottom: 1rem !important;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 1000;
}

.nav-mobile .container {
  margin: 0 0;
  max-width: 80%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur( 16px );
  border-radius: 16px;
}

.nav-links-mobile {
  display: flex;
  gap: 2rem;
}

.nav-links-mobile a {
  text-decoration: none;
  color: white;
}

@keyframes fade-padding {
  from {
    padding: 0;
  }

  to {
    padding: var(--padding-x) var(--padding-y);
    height: auto;
  }
}

@keyframes fade {
  from {
    background: rgba(0, 0, 0, 0);
  }

  to {
    background: rgba(0, 0, 0, var(--transparency));
    backdrop-filter: blur( var(--blur) );
    border-radius: 16px;
  }
}

@keyframes fade-img {
  from {
    filter: invert( var(--invert) );
  }

  to {
    filter: none;
  }
}

@keyframes fade-a {
  from {
    color: black;
  }

  to {
    color: white;
  }
}

@media (max-width: 768px) { /* Para pantallas pequeñas */
  :root {
    --padding-x: 1em;
    --padding-y: 1em;
    --transparency: 0;
    --blur: 0;
    --invert: 0;
  }

  .nav-mobile {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .contact-btn {
    display: none;
  }
}
