#team {
  padding: 1rem;
}

#team .container {
  background: rgb(99,183,255);
  background: linear-gradient(180deg, rgba(99,183,255,1) 0%, rgba(255,255,255,1) 100%);
  height: auto;
  border-radius: 16px;
  padding: 4rem clamp(1.25rem,2.64vw + 20.63rem,3.5rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  animation: team-animation ease-in-out both;
  animation-timeline: view();
  animation-range: entry 25%;
}

#team .information {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#team .title {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}

#team .information .description {
  color: white;
  text-align: center;
  font-size: clamp(16px, 2vw, 1.1rem);
}

#team .row {
  gap: 2vh;
  padding: 0 2rem 2rem 2rem;
  min-width: 60%;
  max-width: 60%;
  column-count: 4 !important;
  justify-content: center;
  align-items: center;
}


#team .row .col-1 {
  flex: 20%;
}

#team .row [class*='col-'] {
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 99;
}

#team [class*='col-'] img {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  object-fit: cover !important;
  object-position: center;
  filter: grayscale(1) brightness(1.5) contrast(0.8);
  transition: filter 0.5s, scale 0.5s, opacity 0.35s;
}

#team [class*='col-']:hover img {
  filter: grayscale(0) brightness(1.5) contrast(0.9);
  scale: 1.1;
}

#team [class*='col-'] .secondary-img {
  opacity: 0;
}

#team [class*='col-']:hover .secondary-img {
  opacity: 1;
}

#team [class*='col-'] .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  padding: 1rem;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
  translate: 0 50px;
  transition: opacity 0.5s, translate 0.5s;
}

#team .card .title {
  font-size: 1.5rem;
}

#team .card .description {
  color: white;
  text-align: left;
  width: 100%;
}

#team [class*='col-']:hover .card {
  opacity: 1;
  translate: 0 0;
}

@media (max-width: 1400px) { /* Para pantallas pequeñas */
  #team .container {
    padding: 0;
  }

  #team .information {
    padding: 2.5rem;
    width: 100%;
  }

  #team .row {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    max-height: 400px;
    display: flex !important;
    flex-direction: column;
    margin: auto;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  #team .row .col-1 {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    flex: 100%;
    scroll-snap-align: center;
    left: 0;
    animation: slider ease-in-out both;
    animation-timeline: view(x);
    animation-range: entry 25%, exit 80%;
  }

  #team .row .col-1 .card {
    opacity: 1;
    translate: 0 0;
  }

  #team [class*='col-'] img {
    filter: grayscale(0) brightness(1.5) contrast(0.9);
    scale: 1;
  }

  #team [class*='col-'] .secondary-img {
    opacity: 1;
  }

  #team .description {
    width: 100%;
    text-align: left;
  }
}

@keyframes slider {
  0% {
    opacity: 0.2;
    scale: 0.9;
    z-index: 0;
    filter: blur(1px);
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes team-animation {
  0% {
    opacity: 0;
    scale: 0.95;
    translate: 0 -30vh;
  }

  100% {
    opacity: 1;
    scale: 1;
    translate: 0 -50px;
  }
}
