#us .container {
  max-width: 70%;
  height: auto;
  padding: 10rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: flex-start;
  animation: us-animation ease-in-out both;
  animation-timeline: view();
  animation-range: 0 500px;
}

#us .main-title {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid #e8ecec;
}

#us .row {
  justify-content: flex-start;
  align-items: flex-start;
  column-count: 2 !important;
  gap: 4rem;
}

#us .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  animation: card-section-in-animation ease-in-out both;
  animation-timeline: view();
  animation-range: 0 170px;
  gap: 0.25rem;
}

#us .title {
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
}

#us .card .title {
  opacity: 0;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  color: #0C1E21;
  font-size: 20px !important;
  font-weight: 400;
  animation: card-title-in-animation ease-in-out both;
  animation-timeline: view();
  animation-range: 0 100px;
}

#us .card .feather {
  display: none;
}

#us .description {
  color: #06272c99;
  font-weight: 400;
  text-align: left;
  font-size: clamp(0.6rem,1.67vw + 1.23rem,16px);
}

#us .list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#us .list .item {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

#us .list .item .feather {
  display: inline-block;
  translate: 0 3px;
  opacity: 0.4;
  width: 18px;
  height: 18px;
}

@media (max-width: 1100px) { /* Para pantallas pequeñas */
  #us .container {
    padding: 8rem 1rem;
    max-width: 100%;
    gap: 1rem;
  }

  #us .row {
    gap: 1rem;
  }

  #us .card {
    flex-direction: column;
    padding: 32px;
    gap: 0.5rem;
  }

  #us .card .title {
    animation: none;
    opacity: 1;
    justify-content: flex-start;
    width: 100%;
  }

  #us .description {
    width: 100%;
    text-align: left;
  }
}

@keyframes us-animation {
  0% {
    opacity: 0;
    scale: 0.95;
    translate: 0 -30vh;
  }

  100% {
    opacity: 1;
    scale: 1;
    translate: 0 -50px;
  }
}

@keyframes card-section-in-animation {
  0% {
    opacity: 0;
    translate: -200px 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes card-title-in-animation {
  70% {
    opacity: 0;
    color: #919096;
    translate: 150px 0;
  }

  100% {
    opacity: 1;
    color: #0C1E21;
    translate: 0 0;
  }
}
