<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>navbar</title>
  </head>
  <body>

    <nav>
      <div class="container">
        <div class="logo">
          <img src="images/logo.png" alt="">
        </div>

        <div class="nav-links">
          <a href="#hero" class="active">Inicio</a>
          <div class="separator"></div>
          <a class="us-btn">Nosotros
            <i class="icon" data-feather="chevron-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="#us">Historia</a>
            <a href="#team">Equipo</a>
            <a href="#certifications">Certificaciones y estandares</a>
          </div>
          <div class="separator"></div>
          <a href="services.html">Servicios</a>
          <div class="separator"></div>
          <a href="#projects">Proyectos</a>
          <div class="separator"></div>
          <a href="#clients">Clientes</a>
        </div>

        <div id="contact-btn" class="contact-btn bg-white r2">
          <a href="#contáctanos" class="hover-btn"> <p>Contacto</p> <i class="icon" data-feather="arrow-up-right"></i></a>
        </div>
      </div>
    </nav>

  </body>
</html>
