@import url('framework.css');
@import url('style.css');

@import url('components/navbar.css');
@import url('components/hero.css');
@import url('components/us.css');
@import url('components/team.css');
@import url('components/clients.css');
@import url('components/carousel.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --c1: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background: white;
  height: 1800px;
  justify-content: center;
  align-items: center;
}
